@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --text-primary: #0a1659;
  --text-light: #eaeaea;

  --bg-secondary: #dfedf5;

  --spacing-xl: 3rem;
  --spacing-large: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
  --spacing-tiny: 0.25rem;

  --dark-red: #bb2528;
  --red: #ea4630;
  --orange: #f8b229;
  --dark-green: #165b33;
  --green: #146b3a;
}

* {
  box-sizing: border-box;
}

/* !! RESET STYLES !! */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5rem;
  color: var(--text-light);
}

h2 {
  font-size: 1.75rem;
  color: var(--text-primary);
}

h3 {
  font-size: 1.25rem;
  color: var(--orange);
}

/* !! CLASSES !! */

.container {
  max-width: 1200px;
  min-width: 320px;

  padding: var(--spacing-medium);
  margin: 0 auto;
}

.container h1 {
  text-align: center;
}

.christmas-bg {
  background-color: #990000;
  background-image: url("../img/snowflakes.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
}

/* !! NAVBAR !! */

nav {
  position: fixed;

  width: 100%;

  border-bottom: 2px solid;
  border-image: linear-gradient(to right, var(--dark-red), var(--orange), var(--dark-green)) 5;

  z-index: 1;
}

nav ul {
  display: flex;
}

nav .menu-icon {
  display: none;

  color: var(--text-light);
  font-size: 1.5rem;

  padding: var(--spacing-medium);

  cursor: pointer;
}

nav a {
  color: var(--text-light);

  padding: var(--spacing-medium);
}
nav a:hover {
  color: var(--orange);
}

nav .container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

/* !! MEDIA QUERIES !! */

@media (max-width: 768px) {
  /* !! NAV QUERY !! */
  nav ul {
    display: none;

    flex-basis: 100%;
  }

  nav .menu-icon {
    display: block;
  }

  nav .show-dropdown {
    display: block;
  }
}